.title {
  text-align: center;
  padding: 20px;
  background-color: $blue-night;
  color: white;
}

.row {
 background-image: url("backpic.jpg");
 background-repeat: no-repeat;
 background-position: center;
 height: 800px;
}
